.mainContent{
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    justify-items: center;
    margin-top: 150px;
}
.logo{
    margin-left: 19%;
    width: 100%;
}
.pages{
    width: 100%;
}
.pages ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.pages ul li{
    text-transform: uppercase;
    border-right: 2px solid grey;
    padding-right: 20px;
}
.pages ul li:nth-last-child(1){
    border-right: none;
}
.footer{
    text-align: center;
    opacity: 0.5;
    text-transform: uppercase;
}